toil-ionox0[cwl]==0.0.7
pytz==2019.2
typing==3.7.4.1
ruamel.yaml==0.16.10
bumpversion==0.5.3
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
twine==1.15.0
pytest==4.6.5
pytest-runner==5.1
coloredlogs==10.0
pathlib2==2.3.2
