toil-ionox0[cwl]==0.0.7
pytz==2019.2
typing==3.7.4.3
ruamel.yaml==0.16.12
bumpversion==0.6.0
watchdog==0.10.3
flake8==3.8.4
tox==3.20.1
coverage==5.3
twine==3.2.0
pytest==6.1.2
pytest-runner==5.1
coloredlogs==10.0
pathlib2==2.3.2
