toil-ionox0[cwl]==0.0.7
pytz==2019.3
typing==3.7.4.1
ruamel.yaml==0.16.10
bumpversion==0.5.3
watchdog==0.10.2
flake8==3.7.9
tox==3.14.5
coverage==5.0.4
twine==3.1.1
pytest==5.4.1
pytest-runner==5.2
coloredlogs==14.0
pathlib2==2.3.2
