toil-ionox0[cwl]==0.0.7
pytz==2020.1
typing==3.7.4.1

# From fixing pkg_resources.ContextualVersionConflict:
ruamel.yaml==0.16.10

# From requirements_dev
pip==20.1
bumpversion==0.5.3
wheel==0.34.2
watchdog==0.10.2
flake8==3.5.0
tox==3.5.2
coverage==4.5.1
Sphinx==1.8.1
twine==2.0.0
pytest==3.8.2
pytest-runner==4.2
coloredlogs==10.0.0
