toil-ionox0[cwl]==0.0.7
pytz==2020.1
typing==3.7.4.3

# From fixing pkg_resources.ContextualVersionConflict:
ruamel.yaml==0.16.12

# From requirements_dev
pip==20.2.4
bumpversion==0.6.0
wheel==0.35.1
watchdog==0.10.3
flake8==3.8.4
tox==3.20.1
coverage==5.3
Sphinx==3.2.1
twine==3.2.0
pytest==6.1.1
pytest-runner==4.2
coloredlogs==10.0.0
